*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.indexbody{
    background-color: #6f9eaf;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
.aboutbody{
    background-color: #292826;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
}
.logo{
    padding-left: 200px;
}

.logo-title a{
    text-decoration: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    border-radius: 4px;
}
.logo div{
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    height: auto;
    text-shadow: 2px 2px red;
    
} 

.logo-image img{
    margin-top: 25px;
    height: 100px;
}

.nav-bar h2{
    color: black;
    margin-left: 100px;
    margin-right: 0;
    text-decoration-line: underline;
    
}

.nav-bar a{
    text-decoration: none;
}

.header{
    padding-left: 500px;
}

.header a{
    text-shadow: 2px 2px red;
    text-decoration: none;
    font-size: x-large;
    text-decoration-line: underline;
}

.img-Container{
    margin-top: 150px;
    display: flex;
}

.img-Container img{
    border: 2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: auto;
    border-radius: 4px;
}

.description{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    line-height: 1.3;
    font-size:x-large;
    font-weight: bold;
    color:black;
    text-shadow: 1px 1px yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-Container h2{
    margin-left: 150px;
    color: yellow;
}

.img-Container p{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    line-height: 1.3;
    font-size:medium;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#F9D342;
}

.citation{
    padding-left: 500px;
}

.citation p{
    color: white;
}

.citation a{
    color: yellow;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-size: large;
    font-weight: bold;
}